body {
  margin: 0;
  font-family:sans-serif;
  background-color: #61b99c ;
  
}

#quote-box {
  background-color: aliceblue;
  width: 550px;
  height: 318px;
  margin-top: 187px;
  margin-left: 404px;
}

#text{
  color:  #61b99c;
}

#author{
  margin-left: 300px;
  font-size: 17px;
  color: #61b99c;
}

#new-quote{
  margin-left: 50px;
  background-color: #61b99c;
  color:aliceblue;  
}

#tweet-quote{
  margin-left: 250px;
  color: #61b99c;
}

.fa{
  width: 50px;
  font-size: 30px;
}
